<script type="text/javascript" src="/js/layout.bundle.js"></script>
<!-- HEADER -->
<header class="site-header">
  <div class="container-fluid header-top clearfix">
    <div class="row between-sm middle-sm">
      <div class="col-xs-12 col-sm-6 col-md-6">
        <div class="site-branding">
          <h1 class="site-title">
            <a href="index.html" rel="home">
              <img src="/images/logo.svg" alt="Chelsea" />
            </a>
          </h1>
        </div>
        <!-- .site-branding -->
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3 first-sm">
        <div class="header-social">
          <ul>
            <li>
              <a href="" class="fa fa-facebook" target="_blank"></a>
            </li>
            <li>
              <a href="" class="fa fa-twitter" target="_blank"></a>
            </li>
            <li>
              <a href="" class="fa fa-pinterest" target="_blank"></a>
            </li>
            <li>
              <a href="" class="fa fa-instagram" target="_blank"></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-3 col-md-3">
        <div class="header-options">
          <a href="#" class="fa fa-search"></a>
          <div class="second-menu-icon"><i></i></div>
        </div>
      </div>
    </div>

  </div>
  <div class="wpc-navigation">
    <nav class="main-navigation">
      <ul class="main-menu">
        <li class="menu-item current-menu-item"><a href="index.html">HOME</a></li>
        <li class="menu-item">
          <a href="#">FEATURES</a>
        </li>
        <li class="menu-item menu-item-has-children"><a href="#">PAGES</a>
          <ul class="sub-menu">
            <li class="menu-item">
              <a href="post-full-width.html">Post full with</a>
            </li>
            <li class="menu-item">
              <a href="post-gallery.html">Post with gallery</a>
            </li>
            <li class="menu-item">
              <a href="post-sidebar.html">Post with sidebar</a>
            </li>
            <li class="menu-item">
              <a href="post-with-slider.html">Post with slider</a>
            </li>
          </ul>
        </li>
        <li class="menu-item"><a href="#">CATEGORIES</a></li>
        <li class="menu-item"><a href="about.html">ABOUT ME</a></li>
        <li class="menu-item"><a href="contact.html">CONTACT</a></li>
      </ul>
      <div class="nav-menu-icon"><i></i></div>
    </nav>
  </div>
  <!-- #site-navigation -->
</header>


<!-- SIDE POPUP -->
<aside class="c-sidepop">
  <div class="close-sidepop"></div>
  <div class="sidepop-content">
    <section class="widget widget_text c-widget widget_about">
      <h2 class="widget-title">ABOUT ME</h2>
      <div class="textwidget">
        <div class="wp-caption about-img-wrap">
          <a href="#">
            <img src="/images/about-1.jpg" class="img-responsive center-block" alt="Banner">
          </a>
        </div>
        <p>
          Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagit.
        </p>
        <div class="about-signature"><embed type="image/svg+xml" src="/images/signature.svg" /></div>
      </div>
    </section>

    <section class="widget widget_text c-widget widget_instagram">
      <h2 class="widget-title">INSTAGRAM</h2>
      <div class="wp-caption c-instagram-wrap clearfix">
        <a href="#">
          <img src="/images/instagram/insta-1.jpg" class="img-responsive" alt="Banner">
        </a>
        <a href="#">
          <img src="/images/instagram/insta-2.jpg" class="img-responsive" alt="Banner">
        </a>
        <a href="#">
          <img src="/images/instagram/insta-3.jpg" class="img-responsive" alt="Banner">
        </a>
        <a href="#">
          <img src="/images/instagram/insta-4.jpg" class="img-responsive" alt="Banner">
        </a>
        <a href="#">
          <img src="/images/instagram/insta-5.jpg" class="img-responsive" alt="Banner">
        </a>
        <a href="#">
          <img src="/images/instagram/insta-6.jpg" class="img-responsive" alt="Banner">
        </a>
        <a href="#">
          <img src="/images/instagram/insta-7.jpg" class="img-responsive" alt="Banner">
        </a>
        <a href="#">
          <img src="/images/instagram/insta-8.jpg" class="img-responsive" alt="Banner">
        </a>
        <a href="#">
          <img src="/images/instagram/insta-1.jpg" class="img-responsive" alt="Banner">
        </a>
      </div>
    </section>
  </div>
</aside>


<!-- SEARCH FORM -->
<div class="search-popup">
  <div class="search-form-wrap">
    <form action="/" class="search-form">
      <div class="input-field">
        <input type="text" placeholder="Type text and press enter" class="input" required="">
        <div class="submit">
          <i class="fa fa-search"></i>
          <input type="submit" value="">
        </div>
      </div>
    </form>
  </div>
</div>
