<div class="col-xs-12 col-sm-6 marg-xs-t40">
  <article class="c-post c-small-post">
    <div class="post-img-link-wrapper">
      <a class="post-img-link" href="post-full-width.html">
        <img src="/images/post-5.jpg" class="img-responsive wpc-bg-img" alt="Main image" data-s-hidden="1">
      </a>
    </div>

    <header class="entry-header">
      <h6 class="entry-category">
        <a href="#">Fashion</a>
      </h6>
      <h2 class="entry-title">
        <a href="post-full-width.html">Enter Stage Right</a>
      </h2>
    </header>
    <!-- .entry-header -->

    <div class="entry-content">
      <p>
        Morbi accumsan ipsum velit. Nam nec tellus a odio tin cidunt auctor a ornare odio. Sed non
        mauris vitae erat consequat auctor eu in elit. Class aptent tacitioci null amac urna eu felis
        dapibus condimentum sit amet ...
      </p>
    </div>
    <!-- .entry-content -->

    <footer class="entry-footer clearfix">
      <div class="share-links">
        <i>SHARE</i>
        <ul class="c-share-list">
          <li>
            <a href="" class="fa fa-facebook" target="_blank"></a>
          </li>
          <li>
            <a href="" class="fa fa-twitter" target="_blank"></a>
          </li>
          <li>
            <a href="" class="fa fa-pinterest" target="_blank"></a>
          </li>
          <li>
            <a href="" class="fa fa-instagram" target="_blank"></a>
          </li>
        </ul>
      </div>
    </footer>
    <!-- .entry-footer -->
  </article>
</div>

<script>
  console.log('small article component')
  console.log($.fn.jquery)
</script>

